/* .checked {
  background-color: grey;
  opacity: 0.5;
} */

body {
  /* background-image: url("https://media.giphy.com/media/ozf26DV8FqaCpkYt6n/giphy.gif"); */
  background: url("./nature.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list__box {
  margin-bottom: 40px;
}

.todo-item {
  display: flex;
  justify-content: space-around;
  width: 500px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  align-items: center;

  background-color: rgb(213, 247, 247);
}

.todo-item.delition {
  animation: opacity 1s ease-in-out;
}
.todo-item.checked {
  background-color: grey;
  opacity: 0.5;
  color: hotpink;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.description {
  width: 100px;
}

.btn-delete {
  margin-left: 40px;
  padding: 20px;
  background-color: pink;
  border-radius: 5px;
}

.addBtn {
  padding: 20px;
  background-color: pink;
  border-radius: 5px;
}

.list-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.list-text {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

/* Notification */
.alert {
  position: fixed;
  bottom: 50%;
  right: 45%;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  font-size: 24px;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  padding: 24px;
  user-select: none;
  cursor: pointer;

  transform: translateX(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert.success {
  border: 1px solid #388e3c;
  background-color: #4caf50;
  color: #fff;
}

.alert.is-visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
